*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;

}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5%;
    background-color: black;
}

.nav-menu{
    display: flex;
    gap: 30px;
}

.nav-link{

    color: white;
    font-size: 28px;
}



section:nth-child(1){
    height: 100vh;
   
}

section:nth-child(2){
    height: 100vh;
    
}

section:nth-child(3){
    height: 100vh;
    
}

.spin{
    margin: 100px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid black;
    border-top: 15px solid red;
    animation: carregamento 0.5s linear infinite;
}

@keyframes carregamento {

    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
    
}

.carrousel{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    animation: photo 10s infinite alternate-reverse;

}

@keyframes photo {

    0%{
        background-image: url('http://source.unsplash.com/500x500/?hero');
        border: 10px solid red;
    }
    50%{
        background-image: url('http://source.unsplash.com/500x500/?dog');
        border: 10px solid orange;
    }
    100%{
        background-image: url('http://source.unsplash.com/500x500/?beach');
        border: 10px solid green;
    }
    
}

.bars{
    width: 50px;
    height: 50px;
    background-color: red;
}

aside{
    position: fixed;
    left: 0;
    opacity: 0;
    top: 0px;
    width: 300px;
    height: 100%;
    background-color: black;
    color: white;
    transition: 8s;
}

aside > a{
    color: white;
    font-size: 32px;
    padding: 25px 14px;
    display: block;

}

.active-section{
    background-color: rgba(128, 128, 128, 0.455);
}


.active-bars{

    opacity: 0.5;

}